{
  "device_name": "Tunapanda KALite imager",
  "shared_folders" :
  [
    {
      "secret" : "BT7AOITNAIP3X3CSLE2EPQJFXJXMXVGQI", // required field - use --generate-secret in command line to create new secret
      "dir" : "{{ kalite.role_data_dir }}", // * required field
      "use_relay_server" : true, //  use relay server when direct connection fails
      "use_tracker" : true,
      "use_dht" : false,
      "search_lan" : true,
      "use_sync_trash" : true, // enable SyncArchive to store files deleted on remote devices
      "overwrite_changes" : false, // restore modified files to original version, ONLY for Read-Only folders
      "known_hosts" : // specify hosts to attempt connection without additional search
      [
      ]
    }
  ]
}
