[submodule "playbooks/roles/debops.ifupdown"]
	path = playbooks/roles/debops.ifupdown
	url = https://github.com/debops/playbooks-ifupdown
	branch = master
[submodule "playbooks/roles/bind"]
	path = playbooks/roles/bind
	url = https://github.com/debops/bind
    branch = master
