[submodule "data/build/packages_src"]
	path = data/build/packages_src
	url = git@github.com:tunapanda/packages
[submodule "ansible/roles/kalite/data/learningequality"]
	path = ansible/roles/kalite/data/learningequality
	url = https://github.com/learningequality/ka-lite/
